<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Error"
      internalLogFile="logs/internal-nlog.txt">

  <variable name="logsDir" value="logs/${shortdate}" />
  <targets>
    <target name="fileLogTrace" xsi:type="File" fileName="${logsDir}/trace.txt" />
    <target name="fileLogDebug" xsi:type="File" fileName="${logsDir}/debug.txt" />
    <target name="fileLogInfo" xsi:type="File" fileName="${logsDir}/info.txt" />
    <target name="fileLogWarn" xsi:type="File" fileName="${logsDir}/warn.txt" />
    <target name="fileLogError" xsi:type="File" fileName="${logsDir}/error.txt" />
    <target name="fileLogFatal" xsi:type="File" fileName="${logsDir}/fatal.txt" />
  </targets>
  <rules>
    <logger name="*" level="Trace" writeTo="fileLogTrace" />
    <logger name="*" level="Debug" writeTo="fileLogDebug" />
    <logger name="*" level="Info" writeTo="fileLogInfo" />
    <logger name="*" level="Warn" writeTo="fileLogWarn" />
    <logger name="*" level="Error" writeTo="fileLogError" />
    <logger name="*" level="Fatal" writeTo="fileLogFatal" />
  </rules>
</nlog>